body {
	background: #fff;
	color: rgba(255, 255, 255, .4);
	background: #222;
	line-height: 1.7;
	font-size: 16px;
	font-weight: 300
}

::-moz-selection {
	background: #000;
	color: #fff
}

::selection {
	background: #000;
	color: #fff
}

::-moz-selection {
	background: #000;
	color: #fff
}

h1,
h2,
h3,
h4,
h5 {
	color: #fff;
	font-weight: 200
}

h2 {
	font-size: 25px
}

a {
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
	color: #bac964
}

a:active,
a:focus,
a:hover {
	color: #b2c251;
	text-decoration: none
}

.site-navbar .navbar-nav>li>a {
	padding: 15px 20px!important
}

.site-navbar {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 0;
	background: 0 0;
	position: absolute;
	top: 20px;
	width: 100%;
	z-index: 200;
	background: #fff
}

.site-navbar.bg-light {
	background: 0 0!important
}

#navbar {
  display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-nav {
  flex-direction: row;
}

.site-navbar .navbar-nav>li>a {
	color: #fff!important;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .1em;
	position: relative;
	text-transform: uppercase;
	letter-spacing: .2em
}

a {
	color: #fff
}

a:hover {
	color: #067ded;
	text-decoration: none
}

.social-links {
	font-size: 25px
}

.site-hero {
	background-color: #ccc;
  background-size: cover;
  background-image: url(/assets/images/hero-bg.png);
	background-position: 40% 20%;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden
}

.site-hero,
.site-hero .row {
	height: 100vh;
	min-height: 800px
}

.site-hero:before {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5)
}

.site-hero h1 {
	font-weight: 200;
	margin-bottom: 5px;
	display: block
}

.site-hero h1 strong {
	font-weight: 800
}

@media (min-width:768px) {
	.site-hero h1 {
		font-size: 70px
	}
}

@media (max-width:768px) {
	.site-hero {
		background-position: 60%;
	}
}

.site-hero h1 {
	font-weight: 200;
	color: #fff
}

.site-section {
	padding: 5em 0
}

.section-heading {
	margin-bottom: 30px;
	position: relative;
	z-index: 10
}

.section-heading h2 {
	position: relative;
	font-weight: 200;
	padding-top: 20px;
	font-size: 30px
}

.section-heading h2 strong {
	font-weight: 800
}

.section-heading.text-center h2:before {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.site-link {
	position: relative
}

.site-link i {
	position: relative;
	top: 2px;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease
}

.site-link:hover i {
	position: relative;
	margin-left: 20px
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.text {
	color: #fff;
	font-size: 25px;
	padding: 16px 32px
}

.block-47 .block-47-image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	display: block
}

.letter-spacing {
	letter-spacing: .2rem;
	color: rgba(255, 255, 255, .5)!important
}

.profle-picture {
  height: 250px;
  width: 250px;
  padding: 40px;
}